*{
    padding:0;
    margin:0;
}

.div{
    width: 250px;
    height: 250px;
    background: black;
    margin-left: 50px;
}
img{
    margin-top: 10px;
    width:250px;
    height: 300px;
    border:6px solid blue;
}