* {
    text-align: center;
    margin: 0;
    padding: 0
}
body {
    background-image: url(./green\ aura.jpg);
}
h1, h2 {
    color:rgb(10, 94, 53);
    text-shadow:0 0 15px black;
}
p {
    font-size: large;
    text-shadow:0 0 15px rgb(22, 205, 120);
}
button {
    font-size: large;
    font-weight: bold;
}
#button1 {
    color:rgb(201, 42, 85)
}
#button2 {
    color:rgb(42, 98, 201)
}