* {
    text-align: center;
    margin: 0;
    padding: 0
}
.div1 {
    width: 50%;
    float: left;
    gap: 20px;
}
.div2 {
    width: 50%;
    float: right;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.img1 {
    width:350px;
}
.img2 {
    width:300px;
}
button {
    font-size:large;
    font-weight: bold;
}
button:hover {
    color:cadetblue;
}
/*p {
    text-align: center;
    justify-content: center;
}*/
/*footer {
    text-align: center;
    justify-content: center;
}*/

