*{
    margin:0;
    padding:0;
}

body{
    background-image: url('fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.div{
    position:fixed;
    left:600px;
    top:170px;
}