* {
    text-align: center;
    margin: 0;
    padding: 0
}

    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital,wght@0,400..700;1,400..700&family=Rowdies:wght@300;400;700&display=swap');

body {
    background-image: url(https://i.pinimg.com/736x/48/6b/96/486b9698a04548209d072132cda6ba94.jpg);
    background-repeat:repeat;
    background-size:750px;
    
}

h1 {
    color: rgb(216, 118, 47);
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow:0 0 15px rgb(211, 96, 38);
}
h2 {
    text-shadow:0 0 15px black;
}

nav {
    font-size: 25px;
}

.black {
    color: black;
    text-shadow:0 0 15px black;
}

.orng {
    color: darkorange;
    text-shadow:0 0 15px rgb(211, 96, 38);
}

img {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.desc {
    font-size: 20px;
    text-shadow:0 0 15px black;
}

.underline {
    font-size: 25px;
    color: rgb(145, 62, 3);
}








