*{
    text-align: center;
    margin: 0;
    padding:0;
}

table{
    color:rgb(106, 13, 193);
    /* justify-content: center; */
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    border-collapse: collapse;

    font-size:20px;
    margin-top: 18px;
}
thead{
    color:darkblue;
    background-color:cornflowerblue;
}
tbody{
    background-color:rgb(153, 182, 237);
}